.foodCard {
    &_cards {
        margin-top: 1.25rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

    }

    &_card {
        width: 308px;
        height: 209px;
        border-radius: 18px;
        padding: 17.5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;


        &_title {
            font-size: 1.25rem;
            font-weight: 500;
            color: rgb(255, 255, 255);
        }

        &_subtitle {
            margin-top: 2px;
            font-size: 0.75rem;
            font-weight: 400;
            color: rgb(255, 255, 255);
        }

        &_details {
            display: flex;
            gap: 5px;

            .foodCard_card_like_button_details,
            .foodCard_card_save_button_details {
                display: flex;
                margin-top: 8px;
                gap: 5px;

                img {
                    width: 18px;
                    height: 18px;
                }

                p {
                    font-size: 14px;
                    color: rgb(255, 255, 255);
                }

            }
        }
    }
}